{% extends 'base.html' %}
{% block content %}
<article class="my-3" id="floating-labels">
      <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Заполните форму</h3>
      </div>

      <div>
        <div class="bd-example">
        <form action="/add_category" method="post">
          <div class="col-md-4">
            <label for="validationServer01" class="form-label">Название категории</label>
            <input type="text" name="name" class="form-control" required>
          </div>          
          <div class="col-md-4">
            <label for="validationServer01" class="form-label">    </label>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Добавить категорию</button>
          </div>
        </form>
        </div>
      </div>
    </article>
{% endblock %}