{% extends 'base.html' %}
{% block content %}
<article class="my-3" id="floating-labels">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="/static/upload/{{product['image']}}" >

            <div class="card-body">
              <p class="card-text">{{product['name']}}</p>
              <p class="card-text">{{product['description']}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-muted">{{product['price']}}</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
      <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Заполните форму</h3>
      </div>


      <div>
        <div class="bd-example">
        <form method="post" enctype="multipart/form-data">
          <div class="col-md-4">
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control")}}
          </div>
          <div class="col-md-4">
            {{form.price.label(class="form-label")}}
            {{form.price(class="form-control")}}
          </div>
          <div class="col-md-6">
            {{form.description.label(class="form-label")}}
            {{form.description(class="form-control")}}
          </div>
          <div class="col-mb-4">
            {{form.category.label(class="form-label")}}
            {{form.category(class="form-select")}}
            </div>
          <div class="col-mb-4">
            {{form.image.label(class="form-label")}}
            {{form.image(class="form-control")}}
          </div>
          
          <div class="col-md-4">
            <label class="form-label">    </label>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Редактировать</button>
          </div>
        </form>
        </div>
      </div>
    </article>
{% endblock %}